
{% extends 'base.html' %} 
{% load static %}
{% block content %}
<main class ="container py-5">
    <section class = "card card-body">
    <h1 class = "display-1 text-center" >¿Quienes somos?</h1>
        <p>"
            ¡Bienvenido a Scalogin!
            Scalogin es una innovadora aplicación web diseñada para simplificar la gestión de tus tareas diarias mientras garantiza 
            la seguridad de tus datos mediante un login seguro. 
            Desarrollada como parte de un proyecto académico en la Universidad Argentina de la Empresa (UADE), Scalogin combina la 
            funcionalidad práctica con las mejores prácticas en testing de aplicaciones para ofrecerte una experiencia confiable y efectiva.
            Con Scalogin, puedes organizar tus tareas de manera eficiente, asignar prioridades, establecer recordatorios y realizar un 
            seguimiento de tu progreso en un entorno intuitivo y fácil de usar. Ya sea que estés gestionando proyectos académicos, 
            profesionales o personales, nuestra aplicación te ofrece las herramientas necesarias para mantener el control y alcanzar tus 
            objetivos con éxito.
            Además, en Scalogin entendemos la importancia de la seguridad de la información. Por eso, hemos implementado un sistema de login
            seguro que protege tus datos personales y garantiza tu privacidad en todo momento. Con medidas de seguridad robustas y 
            protocolos de encriptación avanzados, puedes confiar en que tus credenciales de acceso están protegidas mientras disfrutas de 
            todas las funcionalidades que Scalogin tiene para ofrecer.
            ¡Descubre una nueva forma de gestionar tus tareas con Scalogin! Regístrate hoy mismo y experimenta la conveniencia,
            la eficiencia y la tranquilidad que nuestra aplicación tiene para ofrecerte.
        </p>
</main>
{% endblock %}