
{% extends 'base.html' %} 
{% load static %}
{% block content %}
<main class ="container py-5">
    <section class = "card card-body">
    <h1 class = "display-1 text-center" >Scalogin</h1>
        <p>"Bienvenido a Scalogin, tu puerta de acceso seguro a un mundo de posibilidades.
        Con nuestra plataforma, acceder a tus datos nunca ha sido tan fácil y seguro. Olvídate de las complicaciones,
        con Scalogin tus credenciales están protegidas con la más avanzada tecnología de cifrado. Inicia sesión con confianza 
        y disfruta de una experiencia fluida y sin contratiempos. Tu seguridad es nuestra prioridad número uno. Scalogin,
        donde la comodidad y la protección se encuentran." </p>
        
        <div>
            <a class = "btn btn-dark" href ="/signin/">
                Iniciar sesión
            </a>
            
            <a class = "btn btn-dark" href ="/signup/">
                Crear cuenta
            </a>
        </div>
</main>
{% endblock %}


