{% extends 'base.html' %}
{% block content %}
<main class="container text-center">
    <div>
        <h3>Restablecer su contraseña</h3>
        {% if validlink %}
        <p>Por favor ingrese su nueva contraseña dos veces:</p>
        <form action= "." method= "POST">
            {{ form.as_p }}
            {% csrf_token %}
            <button type= "submit">Change my password</button>
        </form>
        {% else %}
        <p>El enlace para restablecer la contraseña no era válido, posiblemente porque ya se había utilizado.
            Solicite un nuevo restablecimiento de contraseña. </p>
        {% endif %} 
    </div>
</main> 
{% endblock %}
